<div id="newsUpdates">
  <% @news_updates.each do |update| %>
    <div class="singleUpdate">
      <span class="date"><%= update.date %></span> <br/><br/>
      <span class="title"><%= update.title %></span><br/><br/>
      <span class="content"><%= update.content %></span> <br/><br/>
    </div><br/>
  <% end %>
</div>

<div id="bannerPhoto">
  <%= image_tag("bannerlogo.png", :id => "bannerLogo") %>
</div>

<div id="reverbNation">
  <!-- reverb nation height: 500, width 468, remove footer-->
  <div class="widget_iframe" style="display:inline-block;width:468px;height:500px;margin:0;padding:0;border:0;"><iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_3115669?widget_id=50&amp;posted_by=artist_3115669&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe></div>
</div>