<div id="newsUpdates">
  <% @news_updates.each do |update| %>
    <div class="singleUpdate">
      <span class="date"><%= update.date %></span> <br/><br/>
      <span class="title"><%= update.title %></span><br/><br/>
      <span class="content"><%= update.content %></span> <br/><br/>
    </div><br/>
  <% end %>
</div>

<div id="bannerPhoto">
  <%= image_tag("bannerlogo.png", :id => "bannerLogo") %>
</div>

<div id="liveVideo">
  LIVE VIDEO GOES HERE
</div>