// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$medium-font: 20px;
$small-font: 14px;

#newsUpdates {
  height: 570px;
  width: 550px;
  float: left;
  border: 1px solid black;
  padding: 25px;
  overflow-y: scroll;

  .singleUpdate {
    border-bottom: 1px dotted black;
  }

  .date {
    font-size: $medium-font;
  }

  .title {
    font-size: $medium-font;
  }

  .content {
    font-size: $small-font;
  }

}

#nextShow {
  margin-top: 25px;
  width: 466px;
  height: 150px;
  color: white;
  float: left;
  letter-spacing: 3px;


  #upcomingShow {
    font-size: 25px;
    color: white;
    margin: auto;
    margin-left: 35px;
    text-decoration: bold;
  }

  #showDetails {
    margin-left: 35px;
    font-size: 18px;
  }

  #directions {
    font-size: 10px;
  }
}

#reverbNation {
  margin-left: 35px;
  margin-top: 25px;
}
